@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Change default react-slick arrows color and style */
.slick-prev:before,
.slick-next:before {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}

html,
body {
  overflow-x: hidden;
}
